html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  scrollbar-width: none; 
  -webkit-text-size-adjust: 100%;
  -webkit-user-select: none; /* iOS Safari */
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  margin-top: -8px;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 20px;
  margin-bottom: 40px;
}

li {
  margin: 8px 0;
  text-align: center;
}